# seidelmethod

# Name Hassan Habib Khan 9760

In [8]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

In [9]:
df = pd.DataFrame(columns=['x1','x2','x3'])
c = np.array([[8,-3,2,45],[4,11,-1,71],[6,3,12,35]])

x = np.zeros(len(c)) 
for k in range(0,9):
    for i in range(0,len(c)):
        y=0
        for j in range(0,len(c)): 
            if i != j:
                y = y + (c[i][j] * x[j]) 
        y = c[i][len(c)] - y
        x[i] = y / c[i][i] 
    df.loc[k+1] = [x[0],x[1],x[2]]
            
round(df,3)

      x1     x2     x3
1  5.625  4.409 -0.998
2  7.528  3.626 -1.754
3  7.423  3.596 -1.694
4  7.397  3.611 -1.684
5  7.400  3.610 -1.686
6  7.400  3.610 -1.686
7  7.400  3.610 -1.686
8  7.400  3.610 -1.686
9  7.400  3.610 -1.686