#                  Hassan Habib(9760)

In [84]:
import numpy
import numpy as np
from numpy import *
from numpy import abs
from sklearn.metrics import accuracy_score 
import pandas as pd

In [85]:
name = 'Hassan habib' 
Id = 9760

In [86]:
type(name) , type(Id)

(str, int)

In [87]:
 myname = input('Enter Your name : ' )

Enter Your name : Hassan habib

In [89]:
print('Name Is : ' , myname)

Name Is :  Hassan habib

In [90]:
 print ('=' * 100)

====================================================================================================

In [91]:
print('abou' , end = '')
print('Mami')

abouMami

In [92]:
 23/5

4.6

In [93]:
 23//5

4

In [94]:
 round(64**0.5)

8

In [95]:
x = 35**0.5

In [96]:
x

5.916079783099616

In [97]:
5>3

True

In [98]:
5<3

False

In [99]:
temp = int(input('Enter temperature : ')) 
if temp>100:
     print('gas state') 
elif temp<0:
     print('solid state') 
else:
     print('liquid state')

Enter temperature : 340
gas state

In [101]:
for i in range(11):
    print(i , end = ' ')

0 1 2 3 4 5 6 7 8 9 10

In [102]:
[0 for i in range(10)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [103]:
i=1
while i<10:
        print(i , end=' ')
        i +=1

1 2 3 4 5 6 7 8 9

In [104]:
 def Myfunction():
        print('Working')

In [105]:
Myfunction()

Working

In [106]:
 def f(x):
    return x**3+x**2+3

In [107]:
 print(f(2))

15

In [108]:
 ar = [1,2,3,4,5,6,7,8,9]

In [109]:
 ar[6]

7

In [110]:
 ar

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
 ar[-5]

5

In [75]:
 ar[3:8]

[4, 5, 6, 7, 8]

In [112]:
students ={
      'ID' : [4,6,8,10,12],
      'Name' : ['Hassan','Habib','khan','waqas','ali'],
      'Depart' : ['CoCis','Com','Coe','Cohs','Mech']
}

In [113]:
var = pd.DataFrame(students)

In [114]:
var

   ID    Name Depart
0   4  Hassan  CoCis
1   6   Habib    Com
2   8    khan    Coe
3  10   waqas   Cohs
4  12     ali   Mech

In [115]:
 floor(35**0.5)

5.0

In [116]:
 ceil(35**0.5)

6.0

#                           Hassan Habib (9760)